body{
  width: 100vw;
  overflow-x: hidden;
}
header{
  background: url('../img/hero_image.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;
  line-height: 1;
}


header h1{
  
  font-weight:bold;
}

header .logo{
  margin-bottom:3em ;
}

header .title{
  
  justify-self: center;
}
header .mouse-icon{
position: absolute;
bottom: 1rem;

}

/* about section css rules */

.about-section h2{
  margin-top: 3rem;
}
